################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
podcast/build/
__pycache__/

# Raw Trello export (contains board email addresses and member ids) - the sanitized copy is committed instead
assets/*.raw.json
